<!-- Name: Esteban Archbold
            Osvaldo Guerrero
Id: 100904750,
Date: Jan 27th, 2024 -->

<div class="container text-center">
    <h1>Team</h1>
    <div class="row person-info">
        <div class="col-4 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="../../content/media/estebanarchbold.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Esteban Archbold</h5>
                    <ul>
                        <li>
                            <p class="card-text"> Animations </p>
                        </li>
                        <li>
                            <p class="card-text"> JavaScript Functions </p>
                        </li>
                        <li>
                            <p class="card-text"> CSS </p>
                        </li>
                    </ul>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#estebanModal">Info</button>

                    <!--                     Modal Esteban Archbold----------------------------------------------------------------->

                    <div class="modal fade" id="estebanModal" tabindex="-1" aria-labelledby="estebanModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="estebanModalLabel">Esteban Archbold</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>
                                            <p><i class="fa-solid fa-graduation-cap"></i>Durham college Student</p>
                                        </li>
                                        <li>
                                            <p><i class="fa-regular fa-calendar"></i> Age: 27 years</p>
                                        </li>
                                        <li>
                                            <p><i class="fa-solid fa-phone"></i> Contact: esteban.archboldsalcedo@dcmail.ca</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../content/media/osvaldoguerrero.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Osvaldo Guerrero</h5>
                    <ul>
                        <li>
                            <p class="card-text"> UI/UX designer </p>
                        </li>
                        <li>
                            <p class="card-text"> JavaScript Functions </p>
                        </li>
                        <li>
                            <p class="card-text"> CSS </p>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#osvaldoModal">Info</button>
                </div>
            </div>
        </div>

        <!--                     Modal Osvaldo Guerrero    ----------------------------------------------------------------->

        <div class="modal fade" id="osvaldoModal" tabindex="-1" aria-labelledby="osvaldoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="osvaldoModalLabel">Esteban Archbold</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>
                                <p><i class="fa-solid fa-graduation-cap"></i>Durham college Student</p>
                            </li>
                            <li>
                                <p><i class="fa-regular fa-calendar"></i> Age: 23 years</p>
                            </li>
                            <li>
                                <p><i class="fa-solid fa-phone"></i> Contact: osvaldo.guerrerocastaneda@dcmail.ca</p>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

