<div class="video-text">
    <video autoplay playsinline muted loop preload poster="../../media/computer.jpg">
        <source src="../../media/tech.mp4"/>
    </video>
    <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 285 95"
            preserveAspectRatio="xMidYMid"
    >
        <defs>
            <mask id="mask" x="0" y="0" width="100%" height="100%">
                <rect x="0" y="0" width="100%" height="100%" />
                <text x="72" y="30">Welcome</text>
                <text x="115" y="50">to</text>
                <text x="72" y="70">HARMONY</text>
                <text x="105" y="90">HUB</text>
            </mask>
        </defs>
        <rect x="0" y="0" width="100%" height="100%" />
    </svg>
</div>