
<!-- Name: Esteban Archbold
        Osvaldo Guerrero
Id: 100904750,
Date: Jan 27th, 2024 -->

<!--    Title-->
<div class="container">
    <h2 class="serviceTitle">
        Elevating Businesses: Your Trusted Partner in
        <div class="mask">
            <span data-show> Software Solutions.</span>
            <span> Web Development.</span>
            <span> Consulting.</span>
        </div>
    </h2>

    <div id="carouselIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../media/computer.jpg" class="d-block w-100" alt="Computer">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Software Solutions</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur dolore earum eius error impedit ipsum iste
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../media/consulting.jpg" class="d-block w-100" alt=" Consulting">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Consulting</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur dolore earum eius error impedit ipsum iste
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../media/webdev.jpg" class="d-block w-100" alt="Webdev">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Web Development</h5>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto aspernatur dolore earum eius error impedit ipsum iste
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
