body {
    background: rgb(220,218,255);
    background: linear-gradient(90deg, rgba(220,218,255,1) 0%, rgba(255,255,255,0.6587009803921569) 50%, rgba(165,176,255,1) 100%);
}

.video-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
    max-width: 1200px;

}
.video-text video{
    width: 100%;
}
svg {
    width: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    height: 100%;
}
svg text {

    font-weight: 700;
    text-transform: uppercase;
    font-size: 24px;
}
svg rect {
    fill: white;
}
svg > rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

/*portfolio*/
.slide-container {
    position: relative;
    width: 1160px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    perspective: 500px;
    margin: auto;
}
.slide-container .box {
    position: relative;
    width: 275px;
    height: 275px;
    background: #000;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 15px;
    margin-top: 45px;
}
.slide-container:hover .box {
    transform: rotateY(25deg);
}
.slide-container .box:hover ~ .box {
    transform: rotateY(-25deg);
}
.slide-container .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.slide-container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide-container .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(29, 86, 165),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
}
.slide-container .box:hover .imgBx:before {
    opacity: 1;
}
.slide-container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide-container .box .image-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
}
.slide-container .box .image-content h2 {
    color: #fff;
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
}
.slide-container .box:hover .image-content h2 {
    transform: translateY(0px);
}
.slide-container .box .image-content p {
    color: #fff;
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
}
.slide-container .box:hover .image-content p {
    transform: translateY(0px);
}


/*Service page title*/

.serviceTitle {
    font-size: 86px;
    color: #1d1d1f;
}

.mask {
    height: 106px;
    position: relative;
    overflow: hidden;
}

.mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 100px;

    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: 0.5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: 0.5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

