<div class="container">
    <h1>TV Shows Search</h1>
    <form class="search-form">
        <input type="text" placeholder="Search TV Shows...">
        <button type="submit">Search</button>
    </form>


    <div class="image-container" id="image-container"></div>
</div>


<!-- Importar el archivo TypeScript compilado -->
<script src="scripts/app.js" defer></script>