<h1>Product</h1>

<!-- Name: Esteban Archbold
            Osvaldo Guerrero
Id: 100904750,
Date: Jan 27th, 2024 -->
<!--         Here starts the slide container                             -->
<div class="container-prod">
    <div class="box">
        <div class="imgBx">
            <img src="assets/images/1.jpg">
        </div>
        <div class="content">
            <div>
                <h2>Show Streaming</h2>
                <p>We offer a wide range of streaming services for your favorite shows.
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="assets/images/2.jpg">

        </div>
        <div class="content">
            <div>
                <h2>Game Straming</h2>
                <p>Enjoy the best games with our streaming services.
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="assets/images/3.jpg">

        </div>
        <div class="content">
            <div>
                <h2>Music Streaming</h2>
                <p>Listen to your favorite music with our streaming services.
                </p>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="imgBx">
            <img src="assets/images/4.jpg">

        </div>
        <div class="content">
            <div>
                <h2>Movie Streaming</h2>
                <p>Enjoy the best movies with our streaming services.
                </p>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Load More
    </button>
</div>

